.header-search .search-box {
    margin:0 auto;
}
.header-search .search-box .search-content {
    box-sizing: content-box;
    width: 100%;
    height: 62px;
    padding: 20px 0;
    transition: height .3s,padding .3s;
}
.header-search .search-box .search-content .inner {
    border: 1px solid#999;
    margin: 0 50px 0 0;
    display: inline-block;
}
.header-search .search-box .search-content .inner input{
    height: 60px;
    padding: 2px 0 2px 10px;
    border: 0;
    background-color: transparent;
    width: 64%;
    font-size: 20px;
    font-weight: 300;
    font-family: AvertaBold;
    outline: none;
}  
.header-search .search-box .search-content .inner .search-btn {
    float: right;
    margin: 8px 7px 7px;
    padding: 15px 20px;
    width: 110px;
    height: 15px;
    background-color: #00ae4d;
    color: #fff;
    font-family: Averta W01 Regular,sans-serif;
    font-size: 18px;
    line-height: 18px;
    box-sizing: content-box;
    background-color: #00ae4d;
    text-align: center;
    font-family: AvertaBold;
}

.navbar {
    border: 0px solid transparent;
}
@media (max-width: 991px){
    .header-search .search-box .search-content .inner input {
        width: 60% !important;
    }
    .header-search .search-box .search-content .inner .search-btn {
        width: 16% !important;
        font-size: 14px;
    }
    .search-button{border-left: 0px solid #7a7e7b !important; display: none !important; }
}

@media (min-width: 992px){
    .header-search .search-box {
        width:700px;
    }
    .header-search .search-box .search-content .inner {
        width: 571px;
    }
    .header-search .search-box .search-content .inner .search-btn {
        width: 110px;
    }
}

